
<form>
  <input [(ngModel)] = "book.name" type="text" name="name"/>
  <input [(ngModel)] = "book.price" type="number" name="price"/>
  <input [(ngModel)] = "book.author" type="text" name="author"/>
  <input [(ngModel)] = "book.pages" type="number" name="pages"/>
  <button *ngIf= "book.id" (click) = "update()"> Submit</button>
  <button
          (click) = "delete()"
           class="btn btn-primary"> Delete
  </button>
  <button *ngIf= "!book.id"
          (click) = "create()"
          class="btn btn-primary"> Create</button>

  <button type="submit"
          (click)="previousState()"
          class="btn btn-info">
    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
  </button>

  <button type="button"
          [routerLink]="['/book', book.id, 'edit']"
          class="btn btn-primary">
    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
  </button>
</form>
