<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cat">
            <h2><span jhiTranslate="golaApp.cat.detail.title">Cat</span> {{cat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="golaApp.cat.name">Name</span></dt>
                <dd>
                    <span>{{cat.name}}</span>
                </dd>
                <dt><span jhiTranslate="golaApp.cat.price">Price</span></dt>
                <dd>
                    <span>{{cat.price}}</span>
                </dd>
                <dt><span jhiTranslate="golaApp.cat.author">Author</span></dt>
                <dd>
                    <span>{{cat.author}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cat', cat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
